* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/bg.jpg);
    background-size: cover;
}

small {
    color: red;
}

span {
    color: red;
    font-weight: bolder;
    font-size: 1em;
}

.container {
    display: block;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2em;
    padding: 0.5em 0 1em 2em;
}

#container2 {
    padding-left: 2em;
}

#system {
    max-width: 90%;
    margin: auto;
}

table {
    max-width: 80%;
}

#address {
    width: 42em;
}

p {
    margin-bottom: 1.5em;
}

#system input {
    padding-right: 1em;
}

#system label {
    padding: 0;
}